<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

     <title>Document</title>
   {% block custom_css %}
   
   {% endblock custom_css %}
</head>
<body class="bg-blue-100 top-0">
    {% include "components/navbar.html" %}
    {% block main_block %}
    
    {% endblock main_block %}


    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

</body>
</html>
