{% extends "base.html" %}
{% block main_block %}

<div class="grid grid-cols-4 gap-6 mx-10  ">
    {% for product in products %}

<div class="w-full mt-28 mx-4   max-w-sm bg-white p-6 border border-default border-red-300 rounded-base shadow-xs">

    {% if product.discount_price > 0 %}
    <span class="text-lg text-white ml-0 p-1  bg-red-400 font-medium ">{{product.discount_parcenteage}} % OFF</span>
 
    {% endif  %}
   
       <div class="flex items-center justify-center">
         <img class="mt-4 h-60 w-60  rounded-base mb-6" src="{{product.image.url}}" alt="product image" />
       </div>
   
    <div>
      
        <a href="#">
            <h5 class="text-lg text-heading font-semibold tracking-tight">{{product.name}}</h5>
        </a>
        <div class="flex items-center justify-between mt-6">
            <span class="text-xl font-medium text-heading">{{product.discount_price}}</span>
            <span class="text-xl font-medium line-through decoration-red-400 text-heading">{{product.retail_price}}</span>
           
          
        </div>
    </div>
</div>

{% endfor %}
</div>


{% endblock main_block %}