{% extends "base.html" %}
{% load static  %}
{% block main_block %}

<!-- search button -->

<form class="max-w-md mt-32 z-50 mx-auto">   
    <label for="search" class="block mb-2.5 text-sm font-medium text-heading sr-only ">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/></svg>
        </div>
        <input type="search" id="search" class="block w-full p-3 ps-9 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-[#121212] focus:border-[#121212] shadow-xs placeholder:text-body" placeholder="Search" required />
        <button onclick="handle_search(event)" id="search" type="button" class="absolute end-1.5 bottom-1.5 text-white bg-[#121212] rounded hover:bg-[#121212]-strong box-border border border-red focus:ring-4 focus:ring-[#121212]-medium shadow-xs font-medium leading-5 rounded text-xs px-3 py-1.5 focus:outline-none">Search</button>
    </div>
</form>

<!-- card -->

<div class="grid grid-cols-4 gap-6 mx-10  ">
    {% for product in products %}

<div class="w-full mt-10 mx-4   max-w-sm bg-white p-6 border border-default border-red-300 rounded-base shadow-xs">

    {% if product.discount_price > 0 %}
    <span class="text-lg text-white ml-0 p-1  bg-red-400 font-medium ">{{product.discount_parcenteage}} % OFF</span>
 
    {% endif  %}
   
       <div class="flex items-center justify-center">
         <img class="mt-4 h-60 w-60  rounded-base mb-6" src="{{product.image.url}}" alt="product image" />
       </div>
   
    <div>
      
        <a href="#">
            <h5 class="text-lg text-heading font-semibold tracking-tight">{{product.name}}</h5>
        </a>
        <div class="flex items-center justify-between mt-6">
            <span class="text-xl font-medium text-heading">{{product.discount_price}}</span>
            <span class="text-xl font-medium line-through decoration-red-400 text-heading">{{product.retail_price}}</span>
           
          
        </div>
    </div>
</div>

{% endfor %}
</div>

<!-- ================== pagenation ================ -->



<nav aria-label="">


<nav aria-label="Page navigation example">
  <ul class="flex -space-x-px text-sm">
    <li>
      <a onclick="handle_prev()" href="#" class="cursor-pointer flex items-center justify-center text-body bg-white box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-s-base text-sm px-3 h-10 focus:outline-none">Previous</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center text-body bg-white box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-10 h-10 focus:outline-none">1</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center text-body bg-white box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-10 h-10 focus:outline-none">2</a>
    </li>
  
   
    <li>
      <a onclick="handle_next()" href="#" class="cursor-pointer  flex items-center justify-center text-body bg-white box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-e-base text-sm px-3 h-10 focus:outline-none">Next</a>
    </li>
  </ul>
</nav>



<script src="{% static 'product/js/product.js' %}"></script>
{% endblock main_block %}